hr { 
  border-width: 1px;
  border-color:black;
  padding:0px;
  margin:2px;
}
h2{
	font-size:30pt;
	text-align:center;
	color:green;
}
img{
	width:300px;
	height:200px;
	float:right;
	padding:0 10 0 10;
}
p{
text-align:justify;
padding:5px;
font-size:20px;
}
a{
	text-decoration:none;
}

a:link {
  color: red;
}

a:hover {
  color: blue;
}

